.glyphicon-spin {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear; }

.glyphicon:not(.glyphicon-spin):before {
  margin-left: -2px; }

.form-control {
  border: 1px solid #fff; }

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); }
  to {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); }
  to {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg); } }
body {
  font-family: "Roboto", sans-serif; }
  @media screen and (max-width: 550px) {
    body {
      font-size: 12px; } }

@media screen and (max-width: 550px) {
  .dt-only {
    display: none; } }

.header {
  padding: 0 1%;
  background: #3D80A0;
  color: #fff;
  line-height: 2.5;
  text-align: center; }
  .header__title {
    float: left;
    margin: 0;
    font-size: 1.5em;
    line-height: inherit; }
    @media (max-width: 550px) {
      .header__title {
        float: none; } }
  .header__location-controls {
    float: right;
    margin: 0; }
    @media (max-width: 550px) {
      .header__location-controls {
        float: none; } }

.location-form {
  margin: 0;
  font-size: 1em;
  line-height: 3.75; }
  .location-form .btn {
    background-color: #FD6C59;
    border-color: #FD6C59;
    color: #fff; }
    .location-form .btn:link, .location-form .btn:visited, .location-form .btn:hover, .location-form .btn:active {
      background-color: #E86251;
      border-color: #E86251; }
    .location-form .btn[disabled] {
      background-color: #E86251 !important;
      border-color: #E86251 !important; }
  .location-form__container {
    display: inline-block;
    width: 100%;
    text-align: center; }
  .location-form__zip {
    display: inline-table;
    max-width: 160px;
    vertical-align: middle; }
    @media (max-width: 550px) {
      .location-form__zip {
        max-width: 145px; } }
    .location-form__zip input {
      font-size: 1em; }

.locator {
  font-size: 1.5em; }
  .locator__banner-container {
    position: relative;
    display: inline-block; }
  .locator__banner {
    display: inline-block;
    vertical-align: top;
    z-index: 2;
    width: 7rem;
    height: 8rem;
    margin-bottom: -3.5rem;
    border: 3.5rem solid #FFC17C;
    border-bottom: 20px solid transparent;
    color: #FFF; }
    @media (max-width: 550px) {
      .locator__banner {
        width: 6rem;
        height: 7rem;
        margin-bottom: -3rem;
        border: 3rem solid #FFC17C;
        border-bottom: 20px solid transparent; } }
  .locator__banner-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: #666 0px 1px 2px; }
  .locator__close {
    color: #fff; }
    .locator__close:link, .locator__close:visited, .locator__close:hover, .locator__close:active {
      color: white;
      text-decoration: none; }

.container {
  padding: 0; }

.progress-bar__pacs {
  background: #26AD4A; }

.progress-bar__indivs {
  background: #FDB159; }

.money--green {
  color: #26AD4A; }

#map {
  margin: 0 auto;
  max-width: 100%; }
  @media screen and (max-width: 480px) {
    #map {
      display: none; } }

.hero {
  text-align: center;
  padding: 0 1%; }
  .hero h1 {
    font-size: 2.75em;
    line-height: 1; }
  .hero__message {
    max-width: 630px;
    margin: 0 auto 10px; }
  .hero__select-header {
    font-size: 2em; }
    @media (max-width: 550px) {
      .hero__select-header {
        font-size: 1.4em; } }
  .hero__select-dropdown {
    border: 1px solid #C7D3DD;
    background: none;
    padding: 1em 0px;
    margin-top: -3px; }
    @media (max-width: 550px) {
      .hero__select-dropdown {
        margin-top: 3px; } }

.os-logo {
  width: 100%;
  padding: 2em 0;
  text-align: center; }

.rep-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.rep-panel {
  position: relative;
  width: 31.3333333333333%;
  margin: 10px 1%;
  background: #fffef7;
  color: #272822;
  box-shadow: 0px 2px 3px -2px; }
  @media screen and (max-width: 992px) {
    .rep-panel {
      width: 48%; } }
  @media screen and (max-width: 768px) {
    .rep-panel {
      width: 98%; } }
  .rep-panel p {
    margin: 0;
    padding: 0; }
  .rep-panel__container {
    padding: 1em 2em 3em 1em; }
  .rep-panel__my-rep {
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 0;
    width: 30px;
    height: 40px;
    border: 15px solid #FFC17C;
    border-bottom: 15px solid transparent;
    color: #fff; }
    .rep-panel__my-rep .glyphicon {
      margin-left: -13px;
      top: -11px;
      width: 30px;
      text-align: center;
      font-size: 20px; }
  .rep-panel__party {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .rep-panel__party.party-R {
      background: #FD6C59; }
    .rep-panel__party.party-D {
      background: #3D80A0; }
    .rep-panel__party.party-I {
      background: #8467BE; }
    .rep-panel__party span {
      font-size: 1.25em;
      cursor: default; }
  .rep-panel__name {
    margin: 0 0 6px;
    padding: 0;
    font-size: 1.5em;
    max-width: 90%; }
  .rep-panel__district {
    margin: 0 0 6px;
    padding: 0;
    font-size: 1em;
    font-weight: 200; }
  .rep-panel__finance-link {
    position: absolute;
    height: 2.5em;
    line-height: 2.5em;
    background: #66A853;
    bottom: 0;
    width: 100%;
    padding: 0 1em;
    color: #fff; }
    .rep-panel__finance-link:hover, .rep-panel__finance-link:active {
      color: #fff;
      text-decoration: none;
      background: #73BB5E; }

/* Rep Detail Page Styles */
.rep-detail {
  overflow: hidden; }
  .rep-detail .progress {
    height: 2em;
    margin-bottom: 10px; }
    .rep-detail .progress .progress-bar {
      font-size: 1em;
      line-height: 2em; }
  .rep-detail__back {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 2rem; }
    .rep-detail__back .glyphicon {
      -webkit-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
    .rep-detail__back:hover {
      text-decoration: none; }
      .rep-detail__back:hover .glyphicon {
        margin: 0 6px 0 -6px; }
  .rep-detail__header {
    position: relative;
    background: whitesmoke;
    padding: 3rem 2rem 2rem; }
    .rep-detail__header h1 {
      margin: 0 0 1rem;
      font-size: 3em; }
    .rep-detail__header h2 {
      margin: 0;
      font-size: 2em; }
  .rep-detail__party {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .rep-detail__party.party-R {
      background: #FD6C59; }
    .rep-detail__party.party-D {
      background: #3D80A0; }
    .rep-detail__party.party-I {
      background: #8467BE; }
    .rep-detail__party span {
      font-size: 1em;
      padding: 0 0.5em;
      cursor: default;
      text-align: right; }
  .rep-detail__cycle-finances {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    box-shadow: 0px -2px 2px #ccc; }
    .rep-detail__cycle-finances h3 {
      margin: 0 0 2rem;
      font-size: 2em;
      width: 100%;
      color: #444; }
  .rep-detail__industry {
    padding: 2rem;
    border-top: 1px solid whitesmoke; }
    .rep-detail__industry h3 {
      margin: 0 0 2rem;
      font-size: 2em;
      width: 100%;
      color: #444; }
  .rep-detail__links {
    padding: 2rem;
    border-top: 1px solid whitesmoke; }
  .rep-detail .industry-key {
    width: 340px;
    max-width: 90%;
    margin: 0 auto 2em;
    padding: 1em;
    text-align: center;
    position: relative; }
    .rep-detail .industry-key::after, .rep-detail .industry-key::before {
      position: absolute;
      font-size: 6em;
      font-family: "Open Sans Condensed";
      line-height: 0.5;
      display: inline;
      top: 1.4rem; }
    .rep-detail .industry-key::before {
      content: "{";
      left: -20px; }
    .rep-detail .industry-key::after {
      content: "}";
      right: -20px; }
    .rep-detail .industry-key h4 {
      font-size: 1em;
      margin: 0 0 5px; }
    .rep-detail .industry-key .progress {
      max-width: 300px;
      margin: 0 auto; }

.finance {
  width: 50%; }
  @media screen and (max-width: 500px) {
    .finance {
      width: 100%; } }
  .finance__header {
    font-size: 1.5em;
    margin: 0 0 0.15rem;
    color: #666; }
  .finance__figure {
    font-size: 2em;
    margin-bottom: 0.25em; }
    .finance__figure--debt {
      color: #FD6C59; }

.industry:not(:last-of-type) {
  border-bottom: 1px solid #dcdcdc;
  margin: 0 0 0.5em; }
.industry__bar:hover .industry__bar--dollars {
  display: inline; }
.industry__bar:hover .industry__bar--percent {
  display: none; }
.industry__header {
  font-size: 1.25em;
  margin: 0 0 0.5rem;
  color: #666; }
.industry__pct-of-total {
  font-weight: bold; }
.industry__bar--dollars {
  display: none; }
