// COLORS: http://paletton.com/#uid=7050y0kkOvOaXOugpEtp1t1s-nN


body {
	font-family: "Roboto", sans-serif;

	padding-top: 4em;

	@media screen and (max-width: 550px) {
		font-size: 10px;
	}
}

.container { padding: 0 }

.progress-bar__pacs { background: #26AD4A; }
.progress-bar__indivs { background: #FDB159; }

.money {
	&--green {
		color: #26AD4A;
	}
}

#map {
	margin: 0 auto;
	max-width: 100%;

	@media screen and (max-width: 480px) {
		display: none;
	}

}

.hero {
	text-align: center;

	&__select-header {
		font-size: 2em;
	}

	&__select-dropdown {
		border: 1px solid #C7D3DD;
		background: none;
		padding: 1em 0px;
		margin-top: -3px;
		// font-size: 1em;
	}
}

.os-logo {
	width: 100%;
	padding: 2em 0;
	text-align: center;

}

.rep-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
}

.rep-panel {
	position: relative;
	width: 31.3333333333333%;
	margin: 10px 1%;
	background: #fffef7;
	color: #272822;
	box-shadow: 0px 3px 3px -3px;

	@media screen and (max-width: 992px) {
		width: 48%;
	}
	@media screen and (max-width: 768px) {
		width: 98%;
	}


	p {
		margin: 0;
		padding: 0;
	}

	&__container {
		padding: 1em 1em 3em;
	}

	&__party {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;

		&.party-R {
			background: #FD6C59;
		}
		&.party-D {
			background: #3D80A0;
		}
		&.party-I {
			background: #8467BE;
		}

		span {
			font-size: 1.25em;
			cursor: default;
		}
	}

	&__name {
		margin: 0 0 6px;
		padding: 0;
		font-size: 1.5em;
		max-width: 90%;
	}

	&__district {
		margin: 0 0 6px;
		padding: 0;
		font-size: 1em;
		font-weight: 200;
	}

	&__finance-link {
		position: absolute;
		height: 2.5em;
		line-height: 2.5em;
		background: #66A853;
		bottom: 0;
		width: 100%;
		padding: 0 1em;
		color: #fff;

		&:hover, &:active {
			color: #fff;
			text-decoration: none;
			background: #73BB5E;
		}
	}


}

/* Rep Detail Page Styles */

.rep-detail {

	overflow: hidden;

	.progress {
		height: 2em;
		margin-bottom: 10px;

		.progress-bar {
			font-size: 1em;
			line-height: 2em;
		}
	}

	hr {
		margin: 10px 0 15px;
	}

	&__header {
		position: relative;
		background: whitesmoke;
		padding: 3rem 2rem 2rem;

		h1 {
			margin: 0 0 1rem;
			font-size: 3em;
		}
		h2 {
			margin: 0;
			font-size: 2em;
		}

	}

	&__party {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 20px;
		color: white;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&.party-R {
			background: #FD6C59;
		}
		&.party-D {
			background: #3D80A0;
		}
		&.party-I {
			background: #8467BE;
		}

		span {
			font-size: 1em;
			padding: 0 0.5em;
			cursor: default;
			text-align: right;
		}
	}

	&__cycle-finances {
		padding: 2rem;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: flex-start;

		// Maybe on each section. Could combine with overflow:hidden on rep-detail to hide sides
		box-shadow: 0px -2px 2px #ccc;

		h3 {
			margin: 0 0 2rem;
			font-size: 2em;
			width: 100%;
			color: #444;
		}

	}

	&__industry {
		padding: 2rem;
		border-top: 1px solid whitesmoke;

		h3 {
			margin: 0 0 2rem;
			font-size: 2em;
			width: 100%;
			color: #444;			
		}

	}

	&__links {
		padding: 2rem;
		border-top: 1px solid whitesmoke;
	}

	.industry-key {
		width: 340px;
		max-width: 90%;
		margin: 0 auto 2em;
		padding: 1em;
		text-align: center;
		position: relative;
		// background: whitesmoke;

		&::after, &::before {
			position: absolute;
			font-size: 6em;
			font-family: "Open Sans Condensed";
			line-height: 0.5;
			display: inline;
			top: 1.4rem;
		}

		&::before {
			content: "{";
			left: -20px;
		}
		&::after {
			content: "}";
			right: -20px;
		}

		h4 {
			font-size: 1.25em;
			margin: 0 0 5px;
		}

		.progress {
			max-width: 300px;
			margin: 0 auto;
		}

	}

}

.finance {
	width: 50%;

	&__header {
		font-size: 1.5em;
		margin: 0 0 0.15rem;
		color: #666;

	}
	&__figure {
		font-size: 2em;

		&--debt {
			color: #FD6C59;
		}
	}
}

.industry {

	&:not(:last-of-type) {
		border-bottom: 1px solid #dcdcdc;
		margin: 0 0 0.5em;
	}

	&__bar {
		&:hover {
			.industry__bar--dollars {
				display: inline;
			}
			.industry__bar--percent {
				display: none;
			}
		}
	}
	


	&__header {

		font-size: 1.25em;
		margin: 0 0 0.5rem;
		color: #666;

	}

	&__pct-of-total{
		font-weight: bold;
	}

	&__bar {

		&--dollars {
			display: none;
		}

	}
}