<footer class="footer">
	<div class="container">
		<div class="os-logo" ng-show="(reps.length > 0 || rep)">
			<a href="http://www.opensecrets.org/"><img ng-src="img/open-secrets-logo.gif" alt="Data Provided by opensecrets.org"></a>
		</div>
		<p ng-show="(myDistricts.length > 1 && reps.length > 0)">*The ZIP code you provided covers two districts. Your district may be <strong ng-bind="myDistricts[0]"></strong> or <strong ng-bind="myDistricts[1]"></strong>. For your convenience, representatives from both districts are starred.</p>
	</div>
</footer>