<div class="rep-panel" ng-repeat="rep in reps | orderBy: [isMyDistrict, '-office']">
	<div class="rep-panel__my-rep" ng-show="isMyRep(rep)">
		<span class="glyphicon glyphicon-star"></span>
	</div>
	<div class="rep-panel__container">
	
		<div class="rep-panel__party" ng-class="'party-' + rep['party']">
			<span ng-bind="rep['party']"></span>
		</div>



	    <h1 class="rep-panel__name" >
	    	<span ng-bind="rep['office']"></span>
	    	<span ng-bind="rep['fullName']"></span>
		</h1>

	    <h2 class="rep-panel__district" ng-show="rep['office'] === 'Rep.'">
	    	<span>District <span ng-bind="rep['district']"></span></span>
	    </h2>

	    <div class="rep-panel__contact">
	    	<p>Phone: <span ng-bind="rep['phone']"></span></p>
	    	<p>Website: <a ng-href="{{rep['website']}}" ng-bind="rep['website']"></a></p>
	    </div>
    </div>
	<div>
	    <a class="rep-panel__finance-link" href class="" ng-href="#/rep/{{rep['cid']}}">Follow the Money</a>
    </div>
</div>