<div class="industry" ng-repeat="ind in detail.industries">
	<h4 class="industry__header">
		<span ng-bind="ind['@attributes']['industry_name']"></span>:
		<span class="money--green" ng-bind="(ind['@attributes']['total'] | currency:'$':0)"></span>
		<span class="pull-right">
			<small class="industry__pct-of-total" ng-bind="((ind['@attributes']['total'] / detail.summary.total)*100 | number : 1) + '%'"></small>
			<small> of Total Raised</small>
		</span>
	</h4>

<!-- 
	<p>Total raised: {{detail.summary.total}}</p>
	<p>Total from largest industry: {{detail.industries[0]['@attributes']['total']}}</p>
	<p>Industry percent of Total raised: {{ind['@attributes']['total'] / detail.summary.total*100 + '%'}}</p>
	<p>Industry percent compared to largest industry: {{ind['@attributes']['total'] / detail.industries[0]['@attributes']['total']*100 + '%'}}</p>
 -->
	<div class="industry__bar progress" ng-style="{'width': ind['@attributes']['total'] / detail.industries[0]['@attributes']['total']*100 + '%'}">
		<div class="progress-bar progress-bar__pacs"
			 role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"
		 	 ng-style="{'width': (ind['@attributes']['pacs'] / ind['@attributes']['total'])*100 + '%'}">
			<div ng-hide="(ind['@attributes']['pacs'] / ind['@attributes']['total']) <= .09">			 	
			 	<span class="industry__bar--dollars" ng-bind="(ind['@attributes']['pacs'] | currency:'$':0)"></span>
			 	<span class="industry__bar--percent" ng-bind="((ind['@attributes']['pacs'] / ind['@attributes']['total'])*100 | number : 0) + '%'"></span>
		 	</div>
			<span class="sr-only">% from PACs</span>
		</div>
		<div class="progress-bar progress-bar__indivs"
			 role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"
		 	 ng-style="{'width': (ind['@attributes']['indivs'] / ind['@attributes']['total'])*100 + '%'}">
			<div ng-hide="(ind['@attributes']['indivs'] / ind['@attributes']['total']) <= .09">			 	
			 	<span class="industry__bar--dollars" ng-bind="(ind['@attributes']['indivs'] | currency:'$':0)"></span>
			 	<span class="industry__bar--percent" ng-bind="((ind['@attributes']['indivs'] / ind['@attributes']['total'])*100 | number : 0) + '%'"></span>
		 	</div>
			<span class="sr-only">% from Individuals</span>
		</div>
	</div>
</div>