<div class="page-rep-list">
	<page-header></page-header>
	<div class="home-content container">

		<div class="hero">
			<h1>It's time you knew your representatives.</h1>
			<p class="hero__message">Only 1 out of 3 Americans can name their U.S. Senators, and only 1 in 4 can name their Representative. This tool will help you learn more about your Congresspersons, including their contact information and where their campaign money comes from. <strong>Use the <span class="dt-only">map or the</span> locator to find your reps.</strong></p>
			<!-- http://www.gallup.com/poll/162362/americans-down-congress-own-representative.aspx -->
			<!-- https://books.google.com/books?id=Mc1bdEtBWRYC&pg=PA91&lpg=PA91&dq=americans+can+name+their+senator&source=bl&ots=ZQWytbpdnE&sig=JJ6UmmhXMfAgBO7Cb_yYguSdbHM&hl=en&sa=X&ved=0CEMQ6AEwBWoVChMImOzz0PCUxgIVU-6ACh0nSwD2#v=onepage&q=americans%20can%20name%20their%20senator&f=false -->
			<div class="map-container" map-widget state="state"></div>
			<h3 class="hero__select-header" ng-show="state">Show me reps from 
				<select class="hero__select-dropdown" ng-model="state">
					<option value="{{abbrName}}" ng-repeat="(abbrName, fullName) in states" ng-bind="fullName" ng-selected="state === abbrName"></option>
				</select>
			</h3>
		</div>
		<div class="rep-list">
			<div rep-panel></div>
			<div class="loader" ng-class="{'loader--visible': (reps.length === 0 && state.length)}" ng-hide="(reps.length)">
			  <div class="loader__square loader__square--blue"></div>
			  <div class="loader__square loader__square--red"></div>
			</div>
			<div class="os-logo" ng-show="(reps.length > 0)">
				<a href="http://www.opensecrets.org/"><img ng-src="img/open-secrets-logo.gif" alt="Data Provided by opensecrets.org"></a>
			</div>
		</div>
	</div>
</div>