<div>
	<page-header></page-header>
	<div class="rep-detail container">

		<div class="rep-detail__header">
			<h1 ng-bind="rep['fullName']"></h1>
			<h2><span ng-bind="rep['chamber']"></span> - <a ng-href="#/{{rep['state']}}"><span ng-bind="rep['state']"></span></a></h2>
			<div class="rep-detail__party" ng-class="'party-' + rep['party']">
				<span ng-bind="rep['partyFull']"></span>
			</div>
		</div>

		<div class="rep-detail__cycle-finances">
			<h3>Finances for <span ng-bind="rep['cycle']"></span> Cycle</h3>

			<div class="finance">
				<p class="finance__header">Total Raised</p>
				<p class="finance__figure money--green" ng-bind="(rep['total'] | currency)"></p>
			</div>
			<div class="finance">
				<p class="finance__header">Total Spent</p>
				<p class="finance__figure" ng-bind="(rep['spent'] | currency)"></p>
			</div>
			<div class="finance">
				<p class="finance__header">Cash on Hand</p>
				<p class="finance__figure" ng-bind="(rep['cashOnHand'] | currency)"></p>
			</div>
			<div class="finance" ng-show="rep['debt'] > 0">
				<p class="finance__header">Debt</p>
				<p class="finance__figure finance__figure--debt" ng-bind="(rep['debt'] | currency)"></p>
			</div>
		</div>

		<div class="rep-detail__industry">

			<h3>Top 10 Industries Contributing to <span ng-bind="rep['fullName']"></span></h3>
			<div class="industry-key">
				<h4>Bars show the amount contributed by:</h4>
				<div class="progress">
					<div class="progress-bar progress-bar__pacs" style="width: 50%">
						<span class="sr-only">35% Complete (success)</span>
						<span>PACs</span>
					</div>
					<div class="progress-bar progress-bar__indivs" style="width: 50%">
						<span class="sr-only">20% Complete (warning)</span>
						<span>Individuals</span>
					</div>
				</div>
			</div>
			<div rep-detail-industry></div>
		
		</div>

		<div class="rep-detail__links">
			<h3>More Information</h3>
			<a ng-href="https://www.google.com/search?q={{rep['fullName']}}&sitesearch=OnTheIssues.org"><span ng-bind="rep.name"></span> On The Issues</a>
		</div>
	</div>


</div>